---

---

<div class="border-4 min-h-screen flex">
  <div
    class="backdrop-blur-[8px] backdrop-saturate-[90%] bg-[#a6a6a6] bg-opacity-10border border-opacity-20 border-[#a6a6a6]"
  >
  </div>
</div>
<style></style>
