---

---

<section
  class="min-h-screen w-full flex align-middle content-center border-zinc-200"
>
  <div class="mx-6 my-8 md:m-[10%] w-full flex flex-col md:flex-row gap-8">
    <div class="w-full md:w-1/2">
      <h1 class="text-6xl font-bold">CONTACT US</h1>
      <span class="text-lg opacity-75">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat
        nostrum repellendus vero!
      </span>
    </div>
    <div class="w-full md:w-1/2 flex flex-col gap-6">
      <input type="text" placeholder="Name" />
      <input type="text" placeholder="Email" />
      <textarea name="" placeholder="Message" rows="5"></textarea>
      <button class="">Submit</button>
    </div>
  </div>
</section>
<style>
  input,
  textarea {
    padding: 0.75rem;
    transition: all 0.3s ease-in-out;
    border-radius: 4px;
    resize: none;
    background-color: #111111ba;
    border: #272727 1px solid;
  }
  input:focus-visible,
  textarea:focus-visible {
    outline: none;
    --tw-ring-shadow: ;
    box-shadow: 0 0 0 2px rgba(165, 165, 165, 0.45);
  }
  button {
    padding: 0.75rem;
    transition: all 0.15s ease-in-out;
    border-radius: 4px;
    background-color: rgb(231, 231, 231);
    color: black;
    font-weight: bold;
    word-spacing: 1rem;
    border: #272727 1px solid;
  }
  button:hover {
    background-color: white;
  }
  button:active {
    color: white;
    background-color: #222222ba;
  }
</style>
