---

---

<section class="min-h-screen flex pt-56">
  <div class="flex flex-col items-center w-full gap-3">
    <span class="text-2xl">consectetur adipisicing elit</span>
    <span class="text-7xl font-light">Lorem ipsum dolor</span>
    <span class="text-2xl font-thin">consectetur adipisicing elit</span>
  </div>
</section>
<style>
  section {
    /* background-image: url("../assets/snazzy-image.png"); */
    background-image: url("../assets/main-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    box-shadow: inset 0px 0px 90px 70px #000000;
  }
</style>
